body {
  background: #1B1B1E;
}

.poppins {
  font-family: 'Poppins', sans-serif;
}

.playfair-display {
  font-family: 'Playfair Display', serif;;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

:root {
  --header-red: #DB4747;
  --white: #FFFFFF;
}

/* header */

.about-me * {
  left: 547px;
}

header {
  height: 600px;
}

header h1 {
  font-size: 110px;
}

.name {
  top: 326px;
  position: absolute;
  width: 484px;
  height: 220px;
  top: 326px;
  line-height: 100%;
}

.hello {
  width: 504px;
  height: 24px;
  top: 302px;
  line-height: 24px;
}

header span {
  font-size: 16px;
}

.introduction {
  width: 564px;
  height: 108px;
  top: 586px;
  line-height: 27px;
}

header div {
  font-size: 18px;
}

header span.red {
  width: 113px;
  height: 21px;
  top: 737px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: var(--header-red)
}

.red-ball {
  width: 94px;
  height: 94px;
  left: 1017px;
  top: 302px;
  background: var(--header-red);
  mix-blend-mode: lighten;
}

.see-separator {
  width: 70px;
  height: 0px;
  left: 680px;
  top: 747px;
  border: 1px solid var(--white);
}

.numbers {
  width: 82px;
  height: 150px;
  font-style: normal;
  font-weight: 200;
  font-size: 100px;
  text-align: right;
  color: var(--white);
  opacity: 0.2;
}

.number1 {
  left: 447px;
  top: 210px;
  line-height: 150px;
}

/* header portfolio */
.portfolio * {
  left: 286px;
}

.number2 {
  width: 116px;
  height: 80px;
  top: 909px;
  left: 169px;
  line-height: 80%;
}

.about-me ul {
  top: 720px;
  left: 760px;
  font-size: 30px;
}

.portfolio h1 {
  width: 430px;
  height: 110px;
  top: 984px;
  font-style: normal;
  font-weight: normal;
  line-height: 100%;
}

.my-works {
  width: 504px;
  height: 24px;
  left: 286px;
  top: 960px;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
}

.hidden-menu {
  right: 30px;
  top: 42px;
  display: none;
  z-index: 100;
  font-weight: 400;
  width: 67px;
  height: 256px;
  font-size: 16px;
  line-height: 400%;
}

.menu-md {
  width: 39px;
  height: 24px;
  right: 30px;
  top: 267px;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  transform: rotate(90deg);
}

/* projects */
.projects, 
.grid-two-rows,
.grid-full {
  display: grid;
}

.projects {
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 600px;
  margin-top: 600px;
}

.grid-two-rows,
.grid-full {
  grid-template-columns: 1fr;
}

.grid-two-rows {
  grid-auto-rows: 300px;
}

.grid-full {
  grid-template-rows: 1fr;
}

.first-project {
  background: linear-gradient(to bottom, rgba(0,0,0,1), rgba(235, 229, 229, 0.2)), 
  url('/assets/images/first-project.jpg') center / 100% no-repeat;
}

.second-project {
  background: linear-gradient(to bottom, rgba(0,0,0,1), rgba(235, 229, 229, 0.2)), 
  url('/assets/images/second-project.jpg') center / 100% no-repeat;
}

.main-project {
  background: linear-gradient(to bottom, rgba(0,0,0,1), rgba(235, 229, 229, 0.2)), 
  url('/assets/images/main-project.jpg') center / 100% no-repeat;
}

.main-project h1 {
  font-weight: 300;
  font-size: 60px;
  line-height: 80%;
}


/* header mobile */
@media (max-width: 767px){
  .about-me *,
  section.portfolio * {
    left: 16px;
  }

  .projects,
  .grid-two-rows,
  .grid-full {
    margin-top: 70px;
    grid-template-columns: 1fr;
  }

  .hamburger-icon {
    width: 30px;
    height: 1px;
    right: 30px;
    top: 12px;
    font-size: 36px;
  }

  .hamburger-icon:hover +
  .hidden-menu,
  .hidden-menu:hover {
    display: block;
  }

  .number1 {
    top: 0;
  }

  .number2 {
    top: 571px;
  }

  .my-works {
    top: 620px;
    width: fit-content;
  }

  .portfolio h1 {
    top: 650px;
  }

  .red-ball {
    top: 76px;
    left: 255px;
    width: 50px;
    height: 50px;
  }

  .numbers {
    font-size: 50px;
    width: 41px;
    height: 75px;
  }

  header span, 
  header div {
    font-size: 12px;
  }

  header h1 {
    font-size: 50px;
  }

  .hello {
    width: 289px;
    height: 18px;
    top: 95px;
  }

  .name {
    width: 288px;
    height: 100px;
    top: 113px;    
  }

  .introduction {
    top: 243px;
    width: 288px;
    height: 90px;
  }

  header span.red {
    top: 420px;
  }

  .see-separator {
    width: 70px;
    top: 470px;
  }

  .about-me ul {
    top: 490px;
    left: 16px;
  }
}
